<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Create:anand</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Create:ashok</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Delete:anand</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Delete:ashok</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:anand</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:ashok</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Update:anand</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.Update:ashok</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.View:anand</permission>
      <permission>USER:com.cloudbees.plugins.credentials.CredentialsProvider.View:ashok</permission>
      <permission>USER:hudson.model.Item.Build:anand</permission>
      <permission>USER:hudson.model.Item.Build:ashok</permission>
      <permission>USER:hudson.model.Item.Cancel:anand</permission>
      <permission>USER:hudson.model.Item.Cancel:ashok</permission>
      <permission>USER:hudson.model.Item.Configure:anand</permission>
      <permission>USER:hudson.model.Item.Configure:ashok</permission>
      <permission>USER:hudson.model.Item.Delete:anand</permission>
      <permission>USER:hudson.model.Item.Delete:ashok</permission>
      <permission>USER:hudson.model.Item.Discover:anand</permission>
      <permission>USER:hudson.model.Item.Discover:ashok</permission>
      <permission>USER:hudson.model.Item.Move:anand</permission>
      <permission>USER:hudson.model.Item.Move:ashok</permission>
      <permission>USER:hudson.model.Item.Read:anand</permission>
      <permission>USER:hudson.model.Item.Read:ashok</permission>
      <permission>USER:hudson.model.Item.Workspace:anand</permission>
      <permission>USER:hudson.model.Item.Workspace:ashok</permission>
      <permission>USER:hudson.model.Run.Delete:anand</permission>
      <permission>USER:hudson.model.Run.Delete:ashok</permission>
      <permission>USER:hudson.model.Run.Replay:anand</permission>
      <permission>USER:hudson.model.Run.Replay:ashok</permission>
      <permission>USER:hudson.model.Run.Update:anand</permission>
      <permission>USER:hudson.model.Run.Update:ashok</permission>
      <permission>USER:hudson.scm.SCM.Tag:anand</permission>
      <permission>USER:hudson.scm.SCM.Tag:ashok</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/anandbutra/maven.git</url>
        <credentialsId>b99ad35f-5180-46c5-9682-b39c2f5b7be4</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Maven>
      <targets>clean package</targets>
      <mavenName>(Default)</mavenName>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
      <injectBuildVariables>false</injectBuildVariables>
    </hudson.tasks.Maven>
  </builders>
  <publishers>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin plugin="publish-over-ssh@1.24">
      <consolePrefix>SSH: </consolePrefix>
      <delegate plugin="publish-over@0.22">
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.24">
            <configName>ansible_server</configName>
            <verbose>true</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>//etc/ansible</remoteDirectory>
                <sourceFiles>webapp/target/*.war</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand></execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
                <useAgentForwarding>false</useAgentForwarding>
                <useSftpForExec>false</useSftpForExec>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory></remoteDirectory>
                <sourceFiles></sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <patternSeparator>[, ]+</patternSeparator>
                <execCommand>ansible-playbook  /etc/ansible/palybook.yml</execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
                <useAgentForwarding>false</useAgentForwarding>
                <useSftpForExec>false</useSftpForExec>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
  </publishers>
  <buildWrappers/>
</project>